div {
    padding: 10px;
}


.flex-container {
    display: flex;
}

.flex-child {
    border: 2px solid red;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

#main  {
 
    width: 100%;
    
}

span.term {
    width: 150px;
}

span.term-votes {
    margin-left: 10px;
}

span.vote-meter {
    margin-left: 20px;
    background-color: aqua;
}

#new-term {
   
    
}

.links {
    display: inline-flex;
}

.info {
    width: min-content;   
    
    
}

.rules {
    
    
}


.links {
    
    
}

#cheeky-monkey-notice {
    display: none;
    
    
}

#cheeky-monkey-img {
    width: 50px;
}

.countdown {
    
    
    
}

