div {
    padding: 10px;
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1 2;
    border: 2px solid red;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.main  {
    
    
    
}

.term-groups {
    
}

.barchart-race {
    
    
}

.new-term {
    
    
}


.info {
    
    
    
}

.rules {
    
    
}


.links {
    
    
}

.cheeky-monkey-notification {
    
    
    
}


.countdown {
    
    
    
}

